# Time series analysis

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
plt.style.use('fivethirtyeight')

## TODO

Predict electricity usage<br>
set a time feature for linear regression<br>
Are lags predictive?  If so add them<br>
What is your models Rsquared?

In [3]:
df=pd.read_csv('elecdemand.csv',parse_dates=["Datetime"])
df.head()

             Datetime  Demand
0 2000-06-05 00:00:00   44018
1 2000-06-05 01:00:00   45006
2 2000-06-05 02:00:00   44862
3 2000-06-05 03:00:00   43988
4 2000-06-05 04:00:00   43087