# Loading Util Package
The utils.py module is in the week3 directory where it can be accessed by notebooks in the week3 directory. DEMO

This notebook is in the week4 directory, where it cannot get to the utils.py module.  Fix this by making utils a package.  And then treat utils as a place to put any useful function or class that we create.  Then import these useful functions as needed rather than making a copy of them whenever needed.  This means that these functons will reside in 1 place only.  If a function changes, it is upgraded in that 1 place, rather than where it has been copied reapeatedly into other notebooks.

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
import pandas as pd
import numpy as np

#Uh-oh.  utils.py is no longer in this directory.  How do we get to it? 
import utils as ut

ModuleNotFoundError: No module named 'utils'

## Load our t-shirts

utils.py is no longer in this directory.  So the following line will fail.
Fix it by;
1. making utils a package
2. place this package in a directory (call the directory 'utils')
3. add the full path to the utils directory to the system path so python can find it on import
4. then import it.

See website 'Turn utils.py into a package' for tutorial

In [5]:
#I need to add the parent directory of utils in order to find it
#it happens to be up 1 directory.
import os
import sys
PROJECT_ROOT = os.path.abspath(os.path.join(
                  os.getcwd(),
                  os.pardir)
)

#only add it once
if (PROJECT_ROOT not in sys.path):
    sys.path.append(PROJECT_ROOT)

In [6]:
import sys
print(sys.path)
#note that the parent directory is now at the end of the system path
#so when I try to import utils I can now find it

['/home/keith/AA_jupyter_tuts/DATA301_CODE/week_4', '/home/keith/anaconda3/envs/data301s23/lib/python39.zip', '/home/keith/anaconda3/envs/data301s23/lib/python3.9', '/home/keith/anaconda3/envs/data301s23/lib/python3.9/lib-dynload', '', '/home/keith/anaconda3/envs/data301s23/lib/python3.9/site-packages', '/home/keith/anaconda3/envs/data301s23/lib/python3.9/site-packages/IPython/extensions', '/home/keith/.ipython', '/home/keith/AA_jupyter_tuts/DATA301_CODE']

In [7]:
#now we can get to it
import utils as ut

In [8]:
#lets see what it has in it?
dir(ut)

['BoostedHybrid',
 'MAX_RISE',
 'NUMB_SAMPLES',
 'PROCESSED_DATA',
 'RANDOM_SEED',
 'RAND_MAX_VAL',
 'RAND_MIN_VAL',
 'SimpleImputer',
 'StandardScaler',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'cat_getdummies',
 'cat_ordinal',
 'drop_correlated_columns',
 'drop_no_variance_columns',
 'fun1',
 'gauss',
 'gendata',
 'generate_tshirt_order',
 'get_correlated_columns',
 'get_features',
 'getdata',
 'impute_NaNs',
 'linear_model',
 'names',
 'np',
 'pd',
 'ps_lower_strip',
 'ps_replace_punctuation',
 'random',
 're',
 'remove_duplicates',
 'rsquared',
 'run_pipeline',
 'scale',
 'scoremodel',
 'show_regression_formula',
 'train_model',
 'transforms',
 'ts_models',
 'utils1']

In [9]:
#you can get help on it as well, hover over generate_tshirt_order and ctrl-tab to get info
df = ut.generate_tshirt_order()
df

         weight t_shirt_size t_shirt_color               name  Age
0    123.465450        small        orange   Michael Chaffins   16
1     91.306518        small           red    Deborah Nimmons    8
2     99.542290        small         black         Vicki Lear    9
3    102.360747        small          blue  Donald Stephenson   17
4     96.433707        small           red      Timothy Block   11
..          ...          ...           ...                ...  ...
295  251.361204        large           red       Chet Centeno   16
296  157.196802        large           red     Margaret Moore   13
297  171.297218        large          blue     Denise Shelton   10
298  198.671537        large         black       Leslie Gomez   12
299  192.148230        large          blue   Graciela Kushner   12

[300 rows x 5 columns]