# Processing Numerical Data

Specifically scaling.  I'm just showing how scaling works on the 2 numerical columns in the t-shirt dataset.  In reality, you would convert the catagorical features into ordinal and nominal values and then scale all columns.

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
import pandas as pd
import numpy as np

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython import get_ipython
ipython = get_ipython()

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

# Set max rows and columns displayed in jupyter
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

## Load our t-shirts
Uh-oh.  utils.py is no longer in this directory.  How do we get to it?  Simple make utils a package and import it. See course website '41_create_an_importable_package.pdf' in week 4.

In [5]:
import sys
sys.path

['/home/keith/AA_jupyter_tuts/DATA301_CODE/week_4',
 '/home/keith/anaconda3/envs/p311/lib/python311.zip',
 '/home/keith/anaconda3/envs/p311/lib/python3.11',
 '/home/keith/anaconda3/envs/p311/lib/python3.11/lib-dynload',
 '',
 '/home/keith/anaconda3/envs/p311/lib/python3.11/site-packages',
 '/home/keith/AA_jupyter_tuts/DATA301_CODE']

In [4]:
# I need to add the parent directory of utils in order to find it
#it happens to be up 1 directory.
import os
import sys
PROJECT_ROOT = os.path.abspath(os.path.join(
                  os.getcwd(),
                  os.pardir)
)

#only add it once
if (PROJECT_ROOT not in sys.path):
    sys.path.append(PROJECT_ROOT)

In [6]:
import utils as ut
df = ut.generate_tshirt_order()
df

         weight t_shirt_size t_shirt_color             name  Age
0     82.884008        small         green     Eric Puentes    9
1     96.588804        small        orange   Arthur Siewert   16
2    112.184194        small         black       James John   16
3     99.638997        small           red    Janice Barker   16
4    109.737030        small          blue  William Davanzo   12
..          ...          ...           ...              ...  ...
295  184.267262        large          blue       Juan Cline   15
296  119.943601        large         green    Norman Sample    9
297  192.776632        large           red   Barbara Wright   15
298  167.631763        large          blue  Bertha Mcentyre    9
299  219.111873        large           red  Steffanie Neveu   15

[300 rows x 5 columns]

## Use dtypes to see the kinds of processing we will need

In [7]:
df.dtypes

weight           float64
t_shirt_size      object
t_shirt_color     object
name              object
Age                int64
dtype: object

In [8]:
df.nunique()

weight           300
t_shirt_size       3
t_shirt_color      5
name             300
Age               10
dtype: int64

## weight and age are numerical, lets go ahead and scale them
first using min-max encoding<br>
And then using standardization<br><br>

In [11]:
#these are the numerical features to transform for now
feats=['weight','Age']

### min max scaler

In [14]:
#make copy so we can use original for standard scaler
df1=df.copy()

In [13]:
from sklearn.preprocessing import MinMaxScaler
df1[feats]=MinMaxScaler().fit_transform(df1[feats])

In [9]:
df1.describe()

           weight         Age
count  300.000000  300.000000
mean     0.438802    0.531852
std      0.238367    0.313108
min      0.000000    0.000000
25%      0.234478    0.222222
50%      0.426878    0.555556
75%      0.602639    0.777778
max      1.000000    1.000000

### standard scaler (subtract mean/divide by std)

In [15]:
from sklearn.preprocessing import StandardScaler
df[feats]=StandardScaler().fit_transform(df[feats])

In [16]:
df.describe()

             weight           Age
count  3.000000e+02  3.000000e+02
mean   3.789561e-16 -2.250052e-16
std    1.001671e+00  1.001671e+00
min   -1.894320e+00 -1.565795e+00
25%   -8.026231e-01 -8.942604e-01
50%   -1.071779e-01  1.130417e-01
75%    6.625061e-01  8.685182e-01
max    2.678005e+00  1.456111e+00