# Processing Numerical Data

Specifically scaling.  I'm just showing how scaling works on the 2 numerical columns in the t-shirt dataset.  In reality, you would convert the catagorical features into ordinal and nominal values and then scale all columns.

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
import pandas as pd
import numpy as np

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython import get_ipython
ipython = get_ipython()

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

# Set max rows and columns displayed in jupyter
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

## Load our t-shirts
Uh-oh.  utils.py is no longer in this directory.  How do we get to it?  Simple make utils a package and import it. See course website '41_create_an_importable_package.pdf' in week 4.

In [16]:
# I need to add the parent directory of utils in order to find it
#it happens to be up 1 directory.
import os
import sys
PROJECT_ROOT = os.path.abspath(os.path.join(
                  os.getcwd(),
                  os.pardir)
)

#only add it once
if (PROJECT_ROOT not in sys.path):
    sys.path.append(PROJECT_ROOT)

In [17]:
import utils as ut
df = ut.generate_tshirt_order()
df

         weight t_shirt_size t_shirt_color                 name  Age
0     89.725984        small        orange         Evelyn Green   10
1     91.440533        small          blue    Katherine Christo    9
2    104.305740        small         green       Thelma Hubbell   10
3     59.795140        small         green        Patrick Chong   10
4     82.013071        small        orange          Lois Morgan   14
..          ...          ...           ...                  ...  ...
295  235.277081        large         black      Michael Mckouen    9
296  201.169339        large        orange      Samantha Morgan   15
297  159.636026        large          blue         Jane Mobilia   17
298  163.925681        large           red  Jennifer Singletary   16
299  158.579794        large        orange       Billy Loughner   15

[300 rows x 5 columns]

## Use dtypes to see the kinds of processing we will need

In [18]:
df.dtypes

weight           float64
t_shirt_size      object
t_shirt_color     object
name              object
Age                int64
dtype: object

In [19]:
df.nunique()

weight           300
t_shirt_size       3
t_shirt_color      5
name             300
Age               10
dtype: int64

## weight and age are numerical, lets go ahead and scale them
first using min-max encoding<br>
And then using standardization<br><br>

In [24]:
#these are the numerical features to transform for now
feats=['weight','Age']

### min max scaler

In [20]:
#make copy so we can use original for standard scaler
df1=df.copy()

In [21]:
from sklearn.preprocessing import MinMaxScaler
df1[feats]=MinMaxScaler().fit_transform(df1[feats])

In [23]:
df1.describe()

           weight         Age
count  300.000000  300.000000
mean     0.399146    0.531481
std      0.205813    0.310098
min      0.000000    0.000000
25%      0.232626    0.222222
50%      0.384081    0.555556
75%      0.528559    0.777778
max      1.000000    1.000000

### standard scaler (subtract mean/divide by std)

In [25]:
from sklearn.preprocessing import StandardScaler
df[feats]=StandardScaler().fit_transform(df[feats])

In [26]:
df.describe()

             weight           Age
count  3.000000e+02  3.000000e+02
mean   2.020606e-16  1.480297e-17
std    1.001671e+00  1.001671e+00
min   -1.942606e+00 -1.716779e+00
25%   -8.104371e-01 -9.989618e-01
50%   -7.331944e-02  7.776349e-02
75%    6.298389e-01  7.955803e-01
max    2.924299e+00  1.513397e+00