# Cleaning string data
Data cleaning is the process of fixing or removing incorrect, corrupted, incorrectly formatted, duplicate, or incomplete data within a dataset.
For strings this process starts by applying a list of common functions (lower, strip).  Then handling missing and duplicate entries. And finally applying custom functions as needed.

In [17]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
import pandas as pd
import numpy as np

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython import get_ipython
ipython = get_ipython()

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

# Set max rows and columns displayed in jupyter
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 20)

## Load a dataset

In [94]:
FILE_RAW = '../projects/proj1/data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.csv'
FILE_FEATHER = '../projects/proj1/data/AskAManagerSalarySurvey2021-Form Responses1.feather'

In [95]:
df=pd.read_csv(FILE_RAW)
df.head()
print(df.shape)

,Timestamp,How old are you?,Industry,Job title,Additional context on job title,Annual salary,Other monetary comp,Currency,Currency - other,Additional context on income,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

(27609, 18)

In [20]:
# what type is country?  if object then it's a string
df.dtypes

Timestamp                                    object
How old are you?                             object
Industry                                     object
Job title                                    object
Additional context on job title              object
Annual salary                                object
Other monetary comp                         float64
Currency                                     object
Currency - other                             object
Additional context on income                 object
Country                                      object
State                                        object
City                                         object
Overall years of professional experience     object
Years of experience in field                 object
Highest level of education completed         object
Gender                                       object
Race                                         object
dtype: object

In [21]:
x=df['Country'].unique()
x.sort()
x[:50]

array([' New Zealand', ' U.S.', ' US', ' United States',
       '$2,175.84/year is deducted for benefits',
       'ARGENTINA BUT MY ORG IS IN THAILAND', 'Afghanistan', 'Africa',
       'America', 'Aotearoa New Zealand', 'Argentina', 'Australi',
       'Australia', 'Australia ', 'Australian ', 'Austria',
       'Austria, but I work remotely for a Dutch/British company',
       'Bangladesh', 'Bangladesh ', 'Belgium', 'Belgium ', 'Bermuda',
       'Brasil', 'Brazil', 'Brazil ', 'Britain ', 'Bulgaria', 'CANADA',
       'CANADA ', 'California ', 'Cambodia', 'Can', 'Canad', 'Canada',
       'Canada ', 'Canada and USA', 'Canada, Ottawa, ontario', 'Canadw',
       'Canadá', 'Canda', 'Catalonia', 'Cayman Islands', 'Chile', 'China',
       'Colombia', 'Company in Germany. I work from Pakistan.', 'Congo',
       'Contracts', 'Costa Rica', "Cote d'Ivoire"], dtype=object)

## Lets handle missing Country data first to ensure below algorithms run correctly.  
Lots of ways to do this, I'm going to do it the simple way, replace NaN with UNKNOWN

This is not a good idea in general, especially if you have a way to figure out the country from the other data present

In [22]:
#how many missing Countries
df.Country.isnull().sum()

0

In [23]:
# fill missing with UNKNOWN as a sentinal value, makes it easy to find and deal with later
df.Country = df.Country.fillna('UNKNOWN')

## There is a country column, lets use it to get all the USA entries.  Take a look at the number of unique entries

In [24]:
#how many different countries are there
start_with_this_many__unique_countries = df.Country.nunique()
print(start_with_this_many__unique_countries)

364

## How many occurrences for each unique entry?

In [25]:
#lets see what we have
vc=df.Country.value_counts()
print(f'There are {len(vc)} unique entries')
vc[:50]
# vc[50:100]

There are 364 unique entries

United States                8844
USA                          7847
US                           2572
Canada                       1549
United States                 652
U.S.                          571
UK                            566
United Kingdom                540
USA                           468
Usa                           441
United States of America      421
Australia                     312
United states                 203
usa                           180
Germany                       168
England                       134
united states                 113
Us                            103
Ireland                       102
New Zealand                    94
Uk                             84
Canada                         75
Australia                      67
United Kingdom                 65
France                         63
U.S.A.                         46
United States of America       43
Spain                          40
Netherlands                    40
Scotland                       39
Sweden                         34
us                             34
Belgium                        32
England                        31
Switzerland                    29
canada                         27
Japan                          26
The Netherlands                25
UK                             22
U.S                            21
New Zealand                    20
America                        20
United State                   19
Germany                        19
Ireland                        19
US                             18
Denmark                        17
Usa                            17
U.S.                           16
Austria                        16
Name: Country, dtype: int64

## It looks like there was no filtering on what a user could enter in the Country field, ANyway lets get to it

## Apply lower and strip to get the easy gains

In [26]:
df.Country = df.Country.map(str.lower).map(str.strip)

#how many different countries are there now
print(f'There are now {df.Country.nunique()} unique Country entries')

There are now 250 unique Country entries

## Looks like a lot of punctuation, get rid of it all
Use regular expressions

In [27]:
#the regular expressions package
import re
punc = "[!\"#$%&\'()*+,-./:;<=>?@[\\]^_{|}~\`]"  #this is the punctuation to get rid of

#or a function
def fun1(x):
    #re.sub will remove any punction char found in punc 
    return re.sub(punc, '', x)

df.Country = df.Country.map(fun1)

#can do the same thing with a lambda
# df.Country = df.Country.map(lambda x: re.sub(punc, '', x))

#how many different countries are there now
print(f'There are now {df.Country.nunique()} unique Country entries')

There are now 236 unique Country entries

## Looks like a lot of variations of 'united state'

Another easy gain, lets replace all strings with 'united state' in them with 'usa'

In [28]:
def fun(x):
    """
    replaces any string that contains 'united state' with 'usa'
    """
    if 'united state' in x:
        return 'usa'
    return x


df.Country = df.Country.map(fun);

#how many different countries are there now
df.Country.nunique()

219

## But you might want to do something similar with other strings, do you write another function?  Or do something a little more general?
Be general, always, use a python closure.

## Closures
The problem we face is that map takes a function that takes 1 parameter, and we want it to take 3; The string value passed by map (call it x), the string to search for in x (call it str_to_find), and the string to replace x with if we find str_to_find in x (call it str_replacement).

We can't get around the fact that map only passes 1 parameter to the function.  But we can creae a function that  already knows what str_to_find and str_replacement are.  Its called a closure

In [29]:
def fun1(str_to_find, str_replacement):
    """
    creates findandreplace Closure, which is a stateful function
    that remembers str_to_find and str_replacement values
    returns: findandreplace
    """
    def findandreplace(x):
        if str_to_find in x:
            return str_replacement
        return x
    # in python functions are first class objects
    # we are returning findandreplace, it in turn knows the value of 
    # str_to_find and str_replacement
    return findandreplace

In [30]:
#using the closure
fn= fun1('usa', 'usa')
df.Country = df.Country.map(fn)

fn= fun1('us', 'usa')
df.Country = df.Country.map(fn)

fn= fun1('u s', 'usa')
df.Country = df.Country.map(fn)

fn= fun1('unites states', 'usa')  #its a bit suspicious that 17 people made this mistake
df.Country = df.Country.map(fn)

fn= fun1('united sates', 'usa')
df.Country = df.Country.map(fn)

fn= fun1('unitedstates', 'usa')
df.Country = df.Country.map(fn)

fn= fun1('united stares', 'usa')
df.Country = df.Country.map(fn)
#and so on

In [31]:
#you can simplify the above with a list of str_to_find
#and just iterate over it
vals=['usa', 'us', 'u s', 'unites states', 'united sates', 'unitedstates', 'united stares']
for val in vals:
    fn= fun1(val, 'usa')
    df.Country = df.Country.map(fn)

In [32]:
#how many different countries are there now
print(f'There are now {df.Country.nunique()} unique Country entries')

There are now 182 unique Country entries

## Once you get down to the bottom of the unique values you will probably get a lot of one offs
For instance lets see what the the values are

In [33]:
vals=df.Country.unique()
vals.sort()
vals

array(['217584year is deducted for benefits', 'afghanistan', 'africa',
       'america', 'aotearoa new zealand', 'argentina',
       'argentina but my org is in thailand', 'bangladesh', 'belgium',
       'bermuda', 'brasil', 'brazil', 'britain', 'bulgaria', 'california',
       'cambodia', 'can', 'canad', 'canada', 'canada ottawa ontario',
       'canadw', 'canadá', 'canda', 'catalonia', 'cayman islands',
       'chile', 'china', 'colombia',
       'company in germany i work from pakistan', 'congo', 'contracts',
       'costa rica', 'cote divoire', 'croatia', 'csnada', 'cuba',
       'currently finance', 'czech republic', 'czechia', 'danmark',
       'denmark', 'ecuador', 'england', 'england gb', 'england uk',
       'england united kingdom', 'englanduk', 'englang', 'eritrea',
       'estonia', 'europe', 'finland', 'france',
       'from new zealand but on projects across apac', 'germany', 'ghana',
       'global', 'great britain', 'greece', 'hartford', 'hong kong',
       'hong konh', 'hungary',
       'i earn commission on sales if i meet quota im guaranteed another 16k min last year i earned an additional 27k its not uncommon for people in my space to earn 100k after commission',
       'i was brought in on this salary to help with the ehr and very quickly was promoted to current position but compensation was not altered',
       'india', 'indonesia', 'international', 'ireland', 'is', 'isa',
       'isle of man', 'israel', 'italy', 'italy south', 'jamaica',
       'japan', 'jersey channel islands', 'jordan', 'kenya', 'kuwait',
       'latvia', 'liechtenstein', 'lithuania', 'luxembourg', 'luxemburg',
       'mainland china', 'malaysia', 'malta', 'mexico', 'morocco',
       'méxico', 'na', 'na remote from wherever i want', 'nederland',
       'netherlands', 'new zealand', 'new zealand aotearoa', 'nigeria',
       'nl', 'northern ireland', 'northern ireland united kingdom',
       'norway', 'nz', 'pakistan', 'panamá', 'philippines', 'poland',
       'policy', 'portugal', 'puerto rico', 'qatar', 'remote',
       'remote philippines', 'romania', 'rwanda', 'san francisco',
       'saudi arabia', 'scotland', 'scotland uk', 'serbia',
       'sierra leone', 'singapore', 'slovakia', 'slovenia', 'somalia',
       'south africa', 'south korea', 'spain', 'sri lanka', 'sweden',
       'switzerland', 'taiwan', 'thailand', 'the bahamas',
       'the netherlands', 'trinidad and tobago', 'turkey', 'ua', 'uae',
       'uganda', 'uk', 'uk but for globally fully remote company',
       'uk england', 'uk northern england', 'uk northern ireland',
       'uk remote', 'ukraine', 'uniited states', 'unite states',
       'united  states', 'united arab emirates', 'united kindom',
       'united kingdom', 'united kingdom england', 'united kingdomk',
       'united statss', 'united stattes', 'united statues',
       'united statws', 'united sttes', 'united y', 'uniteed states',
       'unitef stated', 'uniter statez', 'unites kingdom',
       'unitied states', 'uniyed states', 'uniyes states', 'unted states',
       'untied states', 'uruguay', 'usa', 'uxz', 'vietnam', 'virginia',
       'wales', 'wales uk', 'wales united kingdom', 'y', 'zimbabwe', '🇺🇸'],
      dtype=object)

## Notice there are a lot of united states ish entries at the bottom, lets see if fuzzy wuzzy helps

In [17]:
# this package lives in the conda forge
# !conda install -c conda-forge fuzzywuzzy -y

In [35]:
# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process

In [36]:
#first is the match, second is the score, third is the index in the dataframe
matches = fuzzywuzzy.process.extract("unit", df.Country, limit=50, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
matches

[('united y', 67, 22822),
 ('kuwait', 60, 1915),
 ('unite states', 50, 10447),
 ('unite states', 50, 13362),
 ('united sttes', 50, 14113),
 ('united statws', 47, 2003),
 ('united kindom', 47, 7156),
 ('uniter statez', 47, 16890),
 ('unitef stated', 47, 20206),
 ('united statss', 47, 25473),
 ('united  states', 47, 26059),
 ('lithuania', 46, 11426),
 ('lithuania', 46, 20695),
 ('united kingdom', 44, 1),
 ('united kingdom', 44, 15),
 ('united kingdom', 44, 59),
 ('united kingdom', 44, 93),
 ('united kingdom', 44, 114),
 ('united kingdom', 44, 126),
 ('united kingdom', 44, 147),
 ('united kingdom', 44, 177),
 ('united kingdom', 44, 207),
 ('united kingdom', 44, 295),
 ('united kingdom', 44, 301),
 ('united kingdom', 44, 339),
 ('india', 44, 434),
 ('united kingdom', 44, 493),
 ('united kingdom', 44, 518),
 ('united kingdom', 44, 641),
 ('united kingdom', 44, 648),
 ('united kingdom', 44, 664),
 ('united kingdom', 44, 682),
 ('united kingdom', 44, 699),
 ('united kingdom', 44, 785),
 ('united kingdom', 44, 877),
 ('united kingdom', 44, 953),
 ('united kingdom', 44, 957),
 ('united kingdom', 44, 1005),
 ('united kingdom', 44, 1016),
 ('united kingdom', 44, 1144),
 ('united kingdom', 44, 1148),
 ('united kingdom', 44, 1149),
 ('united kingdom', 44, 1199),
 ('united kingdom', 44, 1232),
 ('united kingdom', 44, 1257),
 ('united kingdom', 44, 1284),
 ('united kingdom', 44, 1360),
 ('united kingdom', 44, 1371),
 ('united kingdom', 44, 1404),
 ('united kingdom', 44, 1472)]

In [20]:
#get the first match to prove that the index is the index in the dataframe
df.iloc[ matches[0][2]].Country

'united y'

In [38]:
#they look pretty good, except for the united kingdom, kuwait (kuwait???), india
#lets get all the unique matches in matches
#first all matches
l=[]
for mtch in matches:
    l.append(mtch[0])

# get unique values
l = set(l)
print(l)

{'lithuania', 'india', 'united kingdom', 'united y', 'united statss', 'uniter statez', 'unitef stated', 'united  states', 'united statws', 'kuwait', 'united kindom', 'unite states', 'united sttes'}

In [39]:
#create a function that will sub in 'usa' for the remaining matches
def subinmatches(df,mtches, dont_sub_these, str_replacement):
    for mtch in mtches:
        if(mtch[0] in dont_sub_these):
            continue
        # mtch[2] is the index in the DataFrame
        df.iloc[mtch[2],df.columns.get_loc('Country')]=str_replacement

#gleaned from previous cells print
dont_sub_these=['lithuania','kuwait','united kingdom', 'india', 'united kindom']
subinmatches(df, matches, dont_sub_these, 'usa')    

#how many different countries are there now
print(f'There are now {df.Country.nunique()} unique Country entries')

There are now 174 unique Country entries

## Add a new column to track the changed columns
<mark> HOMEWORK: A better way would be to rename 'Country' to 'Country_original' and add a new column 'Country_computed' so we lose no data. <br>
    For this you need access to 2 columns in the dataframe, so map will not work, you should use apply

In [397]:
df.head()

,Timestamp,How old are you?,Industry,Job title,Additional context on job title,Annual salary,Other monetary comp,Currency,Currency - other,Additional context on income,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,usa,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,united kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,usa,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,usa,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,usa,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [398]:
df.dtypes

Timestamp                                    object
How old are you?                             object
Industry                                     object
Job title                                    object
Additional context on job title              object
Annual salary                                object
Other monetary comp                         float64
Currency                                     object
Currency - other                             object
Additional context on income                 object
Country                                      object
State                                        object
City                                         object
Overall years of professional experience     object
Years of experience in field                 object
Highest level of education completed         object
Gender                                       object
Race                                         object
dtype: object

In [40]:
#will receive a row of data and return a single value
def fun2(row):
    #have whole row to operate on
    if row.Country == 'usa':
        return True
    return False


#record whether usa has been found yet or not
df['found_in_db'] = df.apply(fun2, axis=1)

In [41]:
print((df.found_in_db == True).sum())
print((df.found_in_db == False).sum())

23217
4392

# Lets see if we can do this for other countries.  It will be easier if we have a package that has a list of countries.

<a href="https://pypi.org/project/pycountry/">pycountry</a> is perfect.  It has a list of countries and a fuzzy lookup API.

In [213]:
# !conda install -c conda-forge pycountry -y

In [42]:
import pycountry

### Demonstrate Pycountry: The following pycountry call will return a tupple if the country found, otherwise it will throw a LookupError

In [45]:
pycountry.countries.lookup('de')
pycountry.countries.lookup('germany')
pycountry.countries.lookup('usa').alpha_3
pycountry.countries.lookup('United States of America')
# pycountry.countries.lookup('united sates') #fails

Country(alpha_2='DE', alpha_3='DEU', name='Germany', numeric='276', official_name='Federal Republic of Germany')

Country(alpha_2='DE', alpha_3='DEU', name='Germany', numeric='276', official_name='Federal Republic of Germany')

'USA'

Country(alpha_2='US', alpha_3='USA', name='United States', numeric='840', official_name='United States of America')

In [46]:
#lets try a fuzzy search to seee if we get a few more
pycountry.countries.search_fuzzy('wales')

[Country(alpha_2='GB', alpha_3='GBR', name='United Kingdom', numeric='826', official_name='United Kingdom of Great Britain and Northern Ireland'),
 Country(alpha_2='AU', alpha_3='AUS', name='Australia', numeric='036')]

## Lets apply this to the entire DataFrame

In [47]:
from tqdm.auto import tqdm  #tqdm gives you the neat little status bar, useful for very long running operations
tqdm.pandas()

In [48]:
def fix(df, i, cont, search_type):
    # print(f' {search_type} {cont.alpha_3} for {df.loc[i, "Country"]}')
    df.loc[i, 'found_in_db'] = True  #found column
    df.loc[i, 'Country']=cont.alpha_3
def find_countries(df):
    #record whether pycountry finds result or not
    for i in tqdm(range(len(df))):
        try:
            #try the most accurate lookup first
            res = pycountry.countries.lookup(df.loc[i, 'Country']) 
            #if you get here lookup returned result, use it
            fix(df, i, res, "Accurate swap")
        except LookupError as le:
            #lookup above failed, try fuzzy, you may get many results
            try:
                res = pycountry.countries.search_fuzzy(df.loc[i, 'Country'])
                #if you get here search_fuzzy returned result, use it?
                #SHOULD CHECK CONFIDENCE, THIS CODE DOES NOT
                fix(df, i, res[0], "Fuzzy swap")
            except LookupError as le:
                pass
    return df


df = find_countries(df)

  0%|          | 0/27609 [00:00<?, ?it/s]

## Final Tally

In [49]:
numb_found = df.found_in_db.sum()
print(f' Number countries identified {numb_found}')
print(f' Number countries unidentified {len(df)-numb_found}')
print(f' Number unique countries {df.Country.nunique()}')

 Number countries identified 27527
 Number countries unidentified 82
 Number unique countries 153

In [61]:
df[df['found_in_db']==False].Country.value_counts()

england uk                                                                                                                                                                             5
south korea                                                                                                                                                                            5
🇺🇸                                                                                                                                                                                     4
england united kingdom                                                                                                                                                                 3
remote                                                                                                                                                                                 2
wales uk                                                                                                                                                                               2
scotland uk                                                                                                                                                                            2
united kingdom england                                                                                                                                                                 2
canda                                                                                                                                                                                  2
uk england                                                                                                                                                                             2
unitied states                                                                                                                                                                         1
uk remote                                                                                                                                                                              1
contracts                                                                                                                                                                              1
unites kingdom                                                                                                                                                                         1
untied states                                                                                                                                                                          1
united statues                                                                                                                                                                         1
i earn commission on sales if i meet quota im guaranteed another 16k min last year i earned an additional 27k its not uncommon for people in my space to earn 100k after commission    1
international                                                                                                                                                                          1
uae                                                                                                                                                                                    1
remote philippines                                                                                                                                                                     1
na remote from wherever i want                                                                                                                                                         1
i was brought in on this salary to help with the ehr and very quickly was promoted to current position but compensation was not altered                                                1
brasil                                                                                                                                                                                 1
san francisco                                                                                                                                                                          1
luxemburg                                                                                                                                                                              1
from new zealand but on projects across apac                                                                                                                                           1
northern ireland united kingdom                                                                                                                                                        1
europe                                                                                                                                                                                 1
uk but for globally fully remote company                                                                                                                                               1
argentina but my org is in thailand                                                                                                                                                    1
aotearoa new zealand                                                                                                                                                                   1
policy                                                                                                                                                                                 1
hong konh                                                                                                                                                                              1
englang                                                                                                                                                                                1
england gb                                                                                                                                                                             1
nederland                                                                                                                                                                              1
uk northern england                                                                                                                                                                    1
canada ottawa ontario                                                                                                                                                                  1
global                                                                                                                                                                                 1
uniited states                                                                                                                                                                         1
canadw                                                                                                                                                                                 1
unted states                                                                                                                                                                           1
united stattes                                                                                                                                                                         1
uniyed states                                                                                                                                                                          1
uniyes states                                                                                                                                                                          1
united kindom                                                                                                                                                                          1
currently finance                                                                                                                                                                      1
uxz                                                                                                                                                                                    1
catalonia                                                                                                                                                                              1
217584year is deducted for benefits                                                                                                                                                    1
italy south                                                                                                                                                                            1
jersey channel islands                                                                                                                                                                 1
uniteed states                                                                                                                                                                         1
new zealand aotearoa                                                                                                                                                                   1
hartford                                                                                                                                                                               1
csnada                                                                                                                                                                                 1
mainland china                                                                                                                                                                         1
uk northern ireland                                                                                                                                                                    1
united kingdomk                                                                                                                                                                        1
cote divoire                                                                                                                                                                           1
wales united kingdom                                                                                                                                                                   1
englanduk                                                                                                                                                                              1
company in germany i work from pakistan                                                                                                                                                1
Name: Country, dtype: int64

## Lets see what the top 10 countries are

In [92]:
df_tt=df.groupby('Country').count().sort_values(by='found_in_db',ascending=False)
# df_tt

In [93]:
# sns.histplot(data=df_tt.iloc[:3,:], x='found_in_db',  hue=df_tt.index[:3]);
# sns.displot(data=df_tt.iloc[:3,:], x='found_in_db',  hue=df_tt.index[:3], kind='hist', fill=True);
df_tmp=df_tt.iloc[:10,:]
sns.barplot(data=df_tmp,x=df_tmp.index, y='found_in_db');

## When finished saved processed data for further evaluation

In [ ]:
# save to feather format
# df.to_feather(FILE_FEATHER)