# Data 201 review

Chapter 5, Python for Data Analysis

In [6]:
# imports
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import pandas as pd
import numpy as np

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython import get_ipython
ipython = get_ipython()

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

In [7]:
# install if not there
# once installed its in this kernel forever
# !pip install hdbscan
# !pip install folium

In [10]:
#lets see which python we are using and where it is
#notice its in the data301 environment
#the same environment we were in when we started jupyter lab
!python -V
!which python

Python 3.9.7
/home/keith/anaconda3/envs/data301/bin/python

## Pandas Series

A one dimensional array

In [2]:
#create a series
ds=pd.Series([4,7,-5,3],index=['d','b','a','c'])
ds

d    4
b    7
a   -5
c    3
dtype: int64

In [3]:
#apply a function to every value in a series
def sum1(x):
    return x+1

#or use a lambda
f=lambda x: x+2

ds.map(sum1)
ds.map(f)

d    5
b    8
a   -4
c    4
dtype: int64

d    6
b    9
a   -3
c    5
dtype: int64

In [28]:
#changing index
ds.index
ds.reset_index(drop='True')

Index(['d', 'b', 'a', 'c'], dtype='object')

0    4
1    7
2   -5
3    3
dtype: int64

In [31]:
#got any NaN's? (missing data)
pd.isnull(ds)
ds.isnull()

d    False
b    False
a    False
c    False
dtype: bool

d    False
b    False
a    False
c    False
dtype: bool

In [ ]:
#type ds and then hit tab to get autocomplete suggestions
ds.

### <mark>Boolean selection</mark>

Selecting rows based on a boolean condition

In [33]:
ds>0  #how which are > 0
ds[ds>0] #boolean selection, return series elements that meet the condition(>0)

d     True
b     True
a    False
c     True
dtype: bool

d    4
b    7
c    3
dtype: int64

## Pandas Dataframe
A 2 dimensional array

In [3]:
# create a dataframe
df=pd.DataFrame(np.random.randn(4,3),columns=list('bde'), index=['U','Oh','T','Or'])
df

           b         d         e
U  -0.168674 -1.011066 -1.443895
Oh  0.769626 -0.656708 -0.160720
T   0.505532  0.807534  1.435325
Or -0.961046  0.183752 -0.161422

In [13]:
#manipulate it
# f=lambda x: x if x>0.0 else 0
f=lambda x: x.min()-x.max()
# df.apply(f)
# f=lambda x: x.max()-x.min()
df.apply(f,axis=1)  #applies f to each row

U    -1.275221
Oh   -1.426334
T    -0.929792
Or   -1.144799
dtype: float64

## Loading data

In [ ]:
#have some data in datasets folder

## Analysis

In [ ]:
df=pd.load

## Visualization