# Review, chapter 6 of 'Python for Data Analysis'

In [3]:
# imports
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import pandas as pd
import numpy as np

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython import get_ipython
ipython = get_ipython()

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

## Loading data

In [5]:
#there is a bit of data in ../datesets/titanic folder
df = pd.read_csv('../datasets/titanic/titanic.csv')

## Navigating the directory structure with magics

What if you cannot find the data?  And BTW, where is this jupyter notebook running from?<br>
It's easy to tell if running on your local machine.  It's a bit harder if your notebook is running from a remote server <br>
(especially Kaggle kernels for those of you who have tried their datascience competitions).

In [19]:
#this is where jupyter magics can help, these should work regardless of underlying OS
%pwd     #what is our current directory?
# %ls    #list files in this directory
%ls -la ../datasets     #list files in the datasets folder

'/home/keith/AA_jupyter_tuts/DATA301_CODE/week_1'

total 132996
drwxrwxr-x 3 keith keith      4096 Jan  3 13:15 ./
drwxrwxr-x 8 keith keith      4096 Jan  4 00:41 ../
-rw-r--r-- 1 keith keith    731856 Aug  1  2019 airqual.csv
-rw-rw-r-- 1 keith keith  29612211 Dec 13 14:28 groupby-data.zip
-rw-r--r-- 1 keith keith   1431833 Aug  1  2019 legislators-historical.csv
-rw-rw-r-- 1 keith keith   2091239 Sep 21  2019 melb_data.csv
-rw-r--r-- 1 keith keith 102297000 Feb 27  2016 news.csv
drwxr-xr-x 2 keith keith      4096 Jun 25  2020 titanic/

## Look at the data

In [17]:
# lets see the first 5 rows
df.head()
# df.head(10)  #first 10 rows

#and the last 5 rows
df.tail()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.00
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.00
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.45
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.00
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.75

### Its a passenger manifest, which includes the grisly column 'Survived'

In [20]:
#how many passengers?
len(df)

887